<div class="About">
  <div class="About-container">
    <div class="py-4 px-3">
      <h1 class="text-center">About</h1>
      <hr>
      <br>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae, velit molestias nisi harum et repellendus repellat voluptate laudantium laborum, consectetur illo animi perspiciatis dolorum odio inventore. Incidunt facere unde error tempora aliquam tenetur similique libero dolores iste, voluptatem quis voluptatum vitae commodi quae atque alias eos optio. Veritatis, totam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis recusandae dignissimos, natus assumenda ad error eos at repellendus ab quam provident atque libero quasi voluptas nam ullam consequatur amet omnis. </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam est sed temporibus enim non magni expedita quaerat incidunt deserunt autem.</p>
    </div>
  </div>
</div>
