.jumbotron {
  background-image: url('/assets/images/img4\ \(2\).jpg');
  background-size: cover;
  background-position: center;
  padding: 8rem 5rem;
}

h1 {
  text-shadow: 4px 2px 8px #111;
  font-weight: bold;
}

p {
  text-shadow: 1px 1px 4px #111;
}

.btn {
  margin: .5em;
  box-shadow: 2px 2px 4px #111;
}
